<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset=UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
    <title>Codename: Avengers</title>
</head>

<body>
<div class="bg-img">
    <div class="content">
        <div class="index-main">

            <div>
                <div class="header-content">
                    <h1>Codename: Avengers</h1>
                    <h2>Prototyp</h2>
                </div>
            </div>

            <div class="information-section">
                <h3>Jak korzystać z aplikacji?</h3>
                <span class="instruction">To proste! Wystarczy że: <br>
                    1. Dodasz zdjęcie wybranego przez siebie aktora z serii filmów Marvel Avenger's <br>
                    2. A następnie klikniesz w przycisk Załaduj <br>
                </span>
            </div>


            <div class="upload-section">
                <div class="upload-file">
                    <input class="file-form-input" accept="image/*" type="file" name="file" id="file_to_predict"
                           data-show-upload="false"/>
                    <button class="btn btn-success btn-block" onclick="predict();">Załaduj</button>
                </div>

                <div class="response" id=response>
                    <div class="image-frame">
                        <img id=uploaded_image_placeholder>
                    </div>
                    <label>Twój aktor to: </label>
                    <label id="aktor_label"></label>
                    <div class="table-list" id="emotion_label"></div>
                </div>
            </div>
        </div>
        <footer>
            <p>Grupa projektowa PSY I KOTY: Adrian Kordek, Karol Śledź, Małgorzata Kurel</p>
        </footer>
    </div>
</div>
</body>
</html>